<footer>
    <div class="footer-icons">
      <figure class="icon">
        <a href="https://www.facebook.com/">
          <img class="fb-icon" src="images/icons/facebook.svg">
        </a>
      </figure>
      <figure class="icon">
        <a href="https://twitter.com/">
          <img class="tw-icon" src="images/icons/twitter.svg">
        </a>
      </figure>
      <figure class="icon">
        <a href="https://mx.linkedin.com/">
          <img class="in-icon" src="images/icons/linkedin.svg">
        </a>
      </figure>
      <figure class="icon">
        <a href="https://www.youtube.com/">
          <img class="yt-icon" src="images/icons/youtube.svg">
        </a>
      </figure>
    </div>
    <div class="large-divisor">
      <div></div>
    </div>
    <div class="footer-rights">
      <p>Copyright © 2020 Mente Rizoma. All rights reserved.</p>
      <p>Powered by Joyous Spring Workshop.</p>
    </div>
</footer>
