.section-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}
  
.cards {
  margin: 20px;
}

.page {
  width: 80%;
  margin: auto;
}

.section-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.section-principal {
  display: flex;
}

.widgets {
  margin: auto;
}

app-cmp-clima {
  margin: auto;
  width: 90%;
  max-width: 500px;
  max-height: 165px;
}