<app-header></app-header>
<div class="page">
  <section class="section-principal">
    <div class="container-fluid" *ngIf="resultadoBusqueda; else elseBlock">
      <app-cmp-carousel [resultadoBusqueda]="resultadoBusqueda | slice:0:10"></app-cmp-carousel>
    </div>
    <div class="widgets">
      <app-cmp-clima></app-cmp-clima>
      <br>
      <app-cmp-currency></app-cmp-currency>
    </div>
    <ng-template #elseBlock>
      <div class="container-fluid" >
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="wrapper view w-100">
                    <span class="spinner-border"></span>
                </div>
            </ng-template>
        </ngb-carousel>
      </div>
    </ng-template>
  </section>
  <app-cmp-tiny-divisor></app-cmp-tiny-divisor>
  <section class="section-card" *ngIf="resultadoBusqueda; else elseBlock">
    <div class="cards" style="width: 18rem;" *ngFor="let card of resultadoBusqueda | slice:11:30; index as i;">
      <app-cmp-card [card]=card></app-cmp-card>
    </div>
  </section>
  <ng-template #elseBlock>Loading</ng-template>
  <app-cmp-tiny-divisor></app-cmp-tiny-divisor>
  <section class="section-card-list" *ngIf="resultadoBusqueda; else elseBlock">
    <app-cmp-card-list-column [resultadoBusqueda]="resultadoBusqueda | slice:32:38"></app-cmp-card-list-column>
    <app-cmp-card-list-column [resultadoBusqueda]="resultadoBusqueda | slice:39:45"></app-cmp-card-list-column>
    <app-cmp-card-list-column [resultadoBusqueda]="resultadoBusqueda | slice:46:52"></app-cmp-card-list-column>
  </section>
  <ng-template #elseBlock>Loading</ng-template>
</div>
<app-footer></app-footer>