<header>
    <nav class="navigation">
      <figure class="nav-logo">
        <a class="nav-logo" href="#"><img class="logo" src="assets/images/logo-mente-rizoma.png"></a>

      </figure>
      <ul class="nav-menu">
        <li><a class="bold-option" href="#">Home</a></li>
        <li><a [routerLink]="['/deportes']">Deportes</a></li>
        <li><a [routerLink]="['/musica']">Música</a></li>
        <li><a [routerLink]="['/entretenimiento']">Entretenimiento</a></li>
        <li><a [routerLink]="['/busqueda']">Buscar</a></li>
      </ul>
    </nav>
    <hr>
</header>