header {
    z-index: 1000;
    margin: 30px auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--white);
    display: flex;
}

.navigation {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
}

.nav-home-btn{
  font-weight: bold !important;
}

.nav-logo {
    width: 250px;
    height: 48px;
    margin: 0;
}

.nav-logo > .logo {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.nav-link {
    cursor: pointer;
}

.nav-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0px 5px;
    margin: 0px;
}

.nav-menu > li > a {
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.nav-menu > li > a:hover {
    border-radius: 5px;
    padding: 7px;
    color: var(--white);
    background-color: #FF5472;
}

.nav-menu > li > .bold-option {
    font-weight: bold;
}

.form-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1300px) {
    .nav-logo {
        width: 180px;
        height: 35px;
    }

    .navigation {
        width: 95%;
    }

    .nav-menu > li > a {
        font-size: 14px;
        padding: 14px;
    }

    .inputArea {
        font-size: 14px;
        width: 80%;
    }

    .inputBtn {
        font-size: 14px;
    }
}