<app-header></app-header>
<div class="principal">
    <app-cmp-buscador></app-cmp-buscador>
    <br>
    <div *ngIf="resultadoBusqueda; else elseBlock">
        <p>Se han encontrado {{numResultados}} resultados para {{busquedaQueryGet}}</p>
        <app-cmp-pagination-list [resultadoBusqueda]="resultadoBusqueda" *ngIf="numResultados>0; else notFound"></app-cmp-pagination-list>
        <ng-template #notFound><app-cmp-figure-not-found></app-cmp-figure-not-found></ng-template>
    </div>
    <ng-template #elseBlock><app-cmp-loading></app-cmp-loading></ng-template>
</div>
<app-footer></app-footer>