.section-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}


.card {
  margin: 20px;
}

.card > img {
  background-color: rgba(0,0,0,0.6);
  filter:brightness(0.6);
  width: 18rem;
  height: 12rem;
  object-fit: cover;
}

.page {
  width: 80%;
  margin: auto;
}

.section-principal {
  display: flex;
  align-items: center;
	flex-flow: column;
}

app-footer{
  position: absolute;
  left: 0;
  width: 100%;
}