<div class="card" *ngIf="precioDolar; else elseBlock">
    <div class="currency-card">
        <h4 class="card-title">Precio del dolar en pesos mexicanos</h4>
        <p>1 USD = ${{precioDolarMexico}} MXN</p>
        <div class="tiny-divisor">
            <div></div>
        </div>
        <p class="bold">Conversor de divisas</p>
        <div class="form-currency">
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Cantidad">
              </div>
              <div class="col">
                <select class="custom-select">
                    <option selected>Selecciona la moneda de origen</option>
                    <option *ngFor='let elemento of precioDolar; index as i;'>{{elemento.name}}</option>
                </select>
              </div>
              <div class="col">
                <select class="custom-select">
                    <option selected>Selecciona la moneda de destino</option>
                    <option *ngFor='let elemento of precioDolar; index as i;'>{{elemento.name}}</option>
                </select>
              </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Convertir</button>
                </div>
            </div>
          </div>
    </div>
</div>
<ng-template #elseBlock>Loading...</ng-template>