<div class="card" *ngIf="precioDolar; else elseBlock">
    <div class="currency-card">
        <h4 class="card-title">Precio del dolar en pesos mexicanos</h4>
        <p>1 USD = ${{precioDolarMexico}} MXN</p>
        <div class="tiny-divisor">
            <div></div>
        </div>
        <p class="bold">Conversor de divisas</p>
        <form class="form-currency" (ngSubmit) ="getConversion()" #modelTF="ngForm">
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Cantidad" id="quantity" [(ngModel)]="frmTemplate.quantity" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="col">
              <select class="custom-select" id="base" [(ngModel)]="frmTemplate.base" [ngModelOptions]="{standalone: true}">
                  <option selected>Selecciona la moneda de origen</option>
                  <option *ngFor='let elemento of precioDolar; index as i;'>{{elemento.name}}</option>
              </select>
            </div>
            <div class="col">
              <select class="custom-select" id="symbol" [(ngModel)]="frmTemplate.symbol" [ngModelOptions]="{standalone: true}" required>
                  <option selected>Selecciona la moneda de destino</option>
                  <option *ngFor='let elemento of precioDolar; index as i;'>{{elemento.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row mt-2">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" [disabled]="!modelTF.valid">Convertir</button>
              </div>
          </div>
        </form>
        <div *ngIf="valorConversion">El valor de la conversión es {{valorConversion}}</div>
    </div>
</div>
<ng-template #elseBlock>Loading...</ng-template>