<!-- <div class="card" *ngIf="rates; else elseBlock">
    <div class="currency-card">
        <h5 class="card-title">Precio del dolar en pesos mexicanos</h5>
        <p>{{precioDolarMexico}}</p>
        <div class="tiny-divisor">
            <div></div>
        </div>
        <p>Conversor de divisas</p>
        <form >
            <select class="custom-select">

            </select>
        </form>
    </div>
    <div *ngFor='let elemento of rates; index as i;'>
        <p>{{elemento}}</p>
    </div>
</div>
<ng-template #elseBlock>Loading...</ng-template> -->
{{precioDolar.rates.MXN}}