<app-header></app-header>
<!-- Page Content -->
<div class="notice-container container">
  <div id="comentaries-container" *ngIf="noticia else elseBlock">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 ml-4">
        <div class="card mb-4">
          <img class="card-img-top" src="{{noticia.image}}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{noticia.title}}</h2>
            <p class="card-text">{{noticia.description}}</p>
            <p>Para ver la nota original, puedes escanear el siguiente código QR</p>
            <img src="https://chart.googleapis.com/chart?cht=qr&chl={{noticia.url}}&chs=200x200"/>
          </div>
          
          <div class="card-footer">
            <h2 class="text-center"><strong>Comentarios</strong></h2>
            <form #userlogin="ngForm" (ngSubmit)="newComment(userlogin.value)" >
              <editor id="comentInput" ngmodel></editor>
              <input type="submit" class="btn btn-primary m-2" value="Publicar">
            </form>
            <div id="comentaries-container" *ngIf="comentarios else elseBlock">
              <app-cmp-comentario *ngFor="let comentario of comentarios index as i;" [comentario]=comentario>
              </app-cmp-comentario>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <app-cmp-loading></app-cmp-loading>
</ng-template>
<app-footer></app-footer>
<!-- /.container -->