<app-header></app-header>
<!-- Page Content -->
<div class="notice-container container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 ml-4">
      <div class="card mb-4">
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">Post Title</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque,
            nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus
            possimus, veniam magni quis!</p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer">
          <h2 class="text-center"><strong>Comentarios</strong></h2>
          <div id="comentaries-container"></div>
        </div>
      </div>
    </div>
  </div>

</div>
<ng-template #elseBlock><app-cmp-loading></app-cmp-loading></ng-template>
<app-footer></app-footer>
<!-- /.container -->