<app-header></app-header>
<div class="page" *ngIf="resultadoBusqueda; else elseBlock">
  <section class="section-principal">
    <div class="container-fluid" >
      <div class="carousel-container">
        <app-cmp-carousel [resultadoBusqueda]="resultadoBusqueda | slice:0:10"></app-cmp-carousel>
      </div>
    </div>
  </section>
  <app-cmp-tiny-divisor></app-cmp-tiny-divisor>
  <section class="section-card">
    <div class="card" style="width: 18rem;" *ngFor="let card of resultadoBusqueda | slice:6:30; index as i;">
      <cmp-section-card [card]=card></cmp-section-card>
    </div>
  </section>
  <app-cmp-tiny-divisor></app-cmp-tiny-divisor>
  <app-cmp-widget-deportes></app-cmp-widget-deportes>
</div>
<ng-template #elseBlock><app-cmp-loading></app-cmp-loading></ng-template>
<app-footer></app-footer>