<app-header></app-header>
<div class="page">
  <section class="section-principal">
    <div class="container-fluid" >
      <ngb-carousel *ngIf="resultadoBusqueda; else elseBlock">
          <ng-template ngbSlide *ngFor="let elemento of resultadoBusqueda | slice:0:6; index as i;">
            <div class="wrapper">
              <img [id]="i" [src]="elemento.image" alt="Random first slide" (click)="redirect($event)" >
            </div>
            <div class="carousel-caption">
              <h3 class="name">{{elemento.title}}</h3>
              <p>{{elemento.description}}</p>
            </div>
          </ng-template>
      </ngb-carousel>
    </div>
    <ng-template #elseBlock>
      <div class="container-fluid" >
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="wrapper view w-100">
                    <span class="spinner-border"></span>
                </div>
            </ng-template>
        </ngb-carousel>
      </div>
    </ng-template>
  </section>
  <div class="divisor">
    <div class="tiny-divisor">
      <div></div>
    </div>
    <div class="rombo">
      <img src="images/icons/services-icon.svg">
    </div>
    <div class="tiny-divisor">
      <div></div>
    </div>
  </div>
  <section class="section-card" *ngIf="resultadoBusqueda; else elseBlock">
    <div class="card" style="width: 18rem;" *ngFor="let card of resultadoBusqueda | slice:6:30; index as i;">
      <div class="card-desc" [id]="i" *ngIf="isVisibleArray[i];" (mouseout)="disableAllHover()">
        <p>{{card.description}}</p>
      </div>
      <img class="card-img-top" [id]="i" (mouseover)="activateHover($event)" [src]="card.image" alt="Card image cap">
      <div class="card-body">
        <a class="card-text" [href]="card.url" target="_blank" rel="noopener noreferrer">{{card.title}}</a>
      </div>
    </div>
  </section>
  <ng-template #elseBlock>
  Loading
  </ng-template>
  <div class="divisor">
    <div class="tiny-divisor">
      <div></div>
    </div>
    <div class="rombo">
      <img src="images/icons/services-icon.svg">
    </div>
    <div class="tiny-divisor">
      <div></div>
    </div>
  </div>
  <ng-template #elseBlock>Loading</ng-template>
<app-footer></app-footer>
