<section class="section-card-list" *ngIf="resultadoBusqueda; else elseBlock">
<div class="card-list-column">
  <div class="card">
    <img class="card-img-top" [src]="resultadoBusqueda[0].image" alt="Card image cap">
    <a class="card-text" [href]="resultadoBusqueda[0].url">{{resultadoBusqueda[0].title}}</a>
  </div>
  <div class="list-items">
    <ul class="list-group list-group-flush" *ngFor="let card of resultadoBusqueda; index as i;">
      <li class="list-group-item">
        <img [src]="card.image" alt="news image item">
        <a [href]="card.url">{{card.title}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="card-list-column">
  <div class="card">
    <img class="card-img-top" [src]="resultadoBusqueda[0].image" alt="Card image cap">
    <a class="card-text" [href]="resultadoBusqueda[0].url">{{resultadoBusqueda[0].title}}</a>
  </div>
  <div class="list-items">
    <ul class="list-group list-group-flush" *ngFor="let card of resultadoBusqueda; index as i;">
      <li class="list-group-item">
        <img [src]="card.image" alt="news image item">
        <a [href]="card.url">{{card.title}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="card-list-column">
  <div class="card">
    <img class="card-img-top" [src]="resultadoBusqueda[0].image" alt="Card image cap">
    <a class="card-text" [href]="resultadoBusqueda[0].url">{{resultadoBusqueda[0].title}}</a>
  </div>
  <div class="list-items">
    <ul class="list-group list-group-flush" *ngFor="let card of resultadoBusqueda; index as i;">
      <li class="list-group-item">
        <img [src]="card.image" alt="news image item">
        <a [href]="card.url">{{card.title}}</a>
      </li>
    </ul>
  </div>
</div>

</section>
<ng-template #elseBlock>Loading</ng-template>