.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.figure-card-img-top {
    background-color: rgba(0,0,0,0.6);
    filter:brightness(0.6);
    width: 288px;
    height: 292px;
}